.rendering {
    padding-top: 5%;
    padding-right: 20px;
}

#gui-container {
    position: absolute;
    top: 11%;
}

body {
    background-color: #131419;
    /* background: url('../res/image/background.jpg'); */
}

footer{
    background-color: #16171d;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 2px dashed grey;
    margin-top: 3%;
    height: 100px;
}

footer img{
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 25px;
}

footer a:hover{
    transition: 0.5s;
    color: grey;
    opacity: 0.2;
}